<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="~/css/libs.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>
        ЧНУ деканат ФКН
    </title>
</head>
<body class="main">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8">
                <form class="filter-form flex" action="/get">
                    <div class="select-wrap flex">
                        <input class="group fakeSelect" type="text" name="group" placeholder="Група" />
                        <input class="discipline fakeSelect" type="text" name="discipline" placeholder="Предмет" />
                        <input class="student fakeSelect" type="text" name="student" placeholder="Ім'я студента" />                    
                    </div>
                    <div class="confirm">
                        <button class="btn btn-success confirm-btn"><i class="fas fa-search"></i></button>
                    </div>
                    <div class="time flex">
                        <div class="text">
                            <p>Перескладання на:</p>
                        </div>
                        <div class="input-group">
                            <input type="radio" name="time" value="today" id="today">
                            <label for="today">Сьогодні</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" name="time" value="tomorrow" id="tomorrow">
                            <label for="tomorrow">Завтра</label>
                        </div>
                        <div class="input-group">
                            <input type="radio" name="time" value="onTheWeek" id="onTheWeek">
                            <label for="onTheWeek">Цьому тижні</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/js/libs.min.js"></script>
    <script src="~/js/common.js"></script>
</body>
</html>