<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="~/css/libs.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>
        to university
    </title>
</head>
<body class="admin">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8">
                <div class="button-group">
                    <button class="btn btn-info filter-btn" type="button" title="Фильтр" data-toggle="filter-form"><i class="fas fa-filter"></i></button>
                    <button class="btn btn-info print-btn" type="submit" data-confirm="retakeToPrint" title="На печать"><i class="fas fa-print"></i></button>
                </div>
                <form class="filter-form flex" action="#">
                    <div class="select-wrap flex">
                        <select id="discipline" name="discipline">
                            <option value="" selected="selected">Предмет</option>
                        </select>
                        <select id="student" name="student">
                            <option value="" selected="selected">Ф.И.О. Студента</option>
                        </select>
                        <input class="group fakeSelect" type="text" name="group" placeholder="Групппа" />
                        <div class="fakeSelect discipline" data-select-to="discipline">
                            <div class="selected flex">
                                <p>Предмет</p>
                                <button type="button"><i class="fas fa-chevron-down"></i></button>
                            </div>
                            <div class="selectOption">
                                <div class="option">
                                    <p data-select="discipline 1">Предмет 1</p>
                                </div>
                                <div class="option">
                                    <p data-select="discipline 2">Предмет 2</p>
                                </div>
                                <div class="option">
                                    <p data-select="discipline 3">Предмет 3</p>
                                </div>
                                <div class="option">
                                    <p data-select="discipline 4">Предмет 4</p>
                                </div>
                                <div class="option">
                                    <p data-select="discipline 5">Предмет 5</p>
                                </div>
                                <div class="option">
                                    <p data-select="discipline 6">Предмет 6</p>
                                </div>
                            </div>
                        </div>
                        <div class="fakeSelect student" data-select-to="student">
                            <div class="selected flex">
                                <p>Ф.И.О. Студента</p>
                                <button type="button"><i class="fas fa-chevron-down"></i></button>
                            </div>
                            <div class="selectOption">
                                <div class="option">
                                    <p data-select="student 1">Студент 1</p>
                                </div>
                                <div class="option">
                                    <p data-select="student 2">Студент 2</p>
                                </div>
                                <div class="option">
                                    <p data-select="student 3">Студент 3</p>
                                </div>
                                <div class="option">
                                    <p data-select="student 4">Студент 5</p>
                                </div>
                                <div class="option">
                                    <p data-select="student 5">Студент 5</p>
                                </div>
                                <div class="option">
                                    <p data-select="student 6">Студент 6</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="confirm">
                        <button class="btn btn-success confirm-btn"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-12">
                <form class="retake-list" action="#" id="retakeToPrint">
                    <div class="retake-item flex">
                        <div class="checkbox">
                            <input type="checkbox" name="toPrint" value="1" id="1" />
                            <label for="1"></label>
                        </div>
                        <div class="new-mark">
                            <button class="new btn new">New</button>
                        </div>
                        <div class="student flex">
                            <div class="group">
                                <p>205</p>
                            </div>
                            <div class="name">
                                <p>Студент1</p>
                            </div>
                        </div>
                        <div class="add-to-print">
                            <button class="btn btn-success" data-modal="new-mark"><i class="fas fa-pen-alt"></i></button>
                        </div>
                    </div>
                    <div class="retake-item flex">
                        <div class="checkbox">
                            <input type="checkbox" name="toPrint" value="2" id="2" />
                            <label for="2"></label>
                        </div>
                        <div class="new-mark">
                            <button class="new btn new">New</button>
                        </div>
                        <div class="student flex">
                            <div class="group">
                                <p>205</p>
                            </div>
                            <div class="name">
                                <p>Студент2</p>
                            </div>
                        </div>
                        <div class="add-to-print">
                            <button class="btn btn-success" data-modal="new-mark"><i class="fas fa-pen-alt"></i></button>
                        </div>
                    </div>
                    <div class="retake-item flex">
                        <div class="checkbox">
                            <input type="checkbox" name="toPrint" value="3" id="3" />
                            <label for="3"></label>
                        </div>
                        <div class="new-mark">
                            <button class="new btn new">New</button>
                        </div>
                        <div class="student flex">
                            <div class="group">
                                <p>205</p>
                            </div>
                            <div class="name">
                                <p>Студент3</p>
                            </div>
                        </div>
                        <div class="add-to-print">
                            <button class="btn btn-success" data-modal="new-mark"><i class="fas fa-pen-alt"></i></button>
                        </div>
                    </div>
                    <div class="retake-item flex">
                        <div class="checkbox">
                            <input type="checkbox" name="toPrint" value="4" id="4" />
                            <label for="4"></label>
                        </div>
                        <div class="new-mark">
                            <button class="wait btn new">Wait</button>
                        </div>
                        <div class="student flex">
                            <div class="group">
                                <p>205</p>
                            </div>
                            <div class="name">
                                <p>Студент4</p>
                            </div>
                        </div>
                        <div class="add-to-print">
                            <button class="btn btn-success" data-modal="new-mark"><i class="fas fa-pen-alt"></i></button>
                        </div>
                    </div>
                    <div class="retake-item flex">
                        <div class="checkbox">
                            <input type="checkbox" name="toPrint" value="5" id="5" />
                            <label for="5"></label>
                        </div>
                        <div class="new-mark">
                            <button class="wait btn new">Wait</button>
                        </div>
                        <div class="student flex">
                            <div class="group">
                                <p>205</p>
                            </div>
                            <div class="name">
                                <p>Студент5</p>
                            </div>
                        </div>
                        <div class="add-to-print">
                            <button class="btn btn-success" data-modal="new-mark"><i class="fas fa-pen-alt"></i></button>
                        </div>
                    </div>
                    <div class="retake-item flex">
                        <div class="checkbox">
                            <input type="checkbox" name="toPrint" value="6" id="6" />
                            <label for="6"></label>
                        </div>
                        <div class="new-mark">
                            <button class="wait btn new">Wait</button>
                        </div>
                        <div class="student flex">
                            <div class="group">
                                <p>205</p>
                            </div>
                            <div class="name">
                                <p>Студент6</p>
                            </div>
                        </div>
                        <div class="add-to-print">
                            <button class="btn btn-success" data-modal="new-mark"><i class="fas fa-pen-alt"></i></button>
                        </div>
                    </div>
                    <div class="retake-item flex">
                        <div class="checkbox">
                            <input type="checkbox" name="toPrint" value="7" id="7" />
                            <label for="7"></label>
                        </div>
                        <div class="new-mark">
                            <button class="closed btn new">Close</button>
                        </div>
                        <div class="student flex">
                            <div class="group">
                                <p>205</p>
                            </div>
                            <div class="name">
                                <p>Студент7</p>
                            </div>
                        </div>
                        <div class="add-to-print">
                            <button class="btn btn-success" data-modal="new-mark"><i class="fas fa-pen-alt"></i></button>
                        </div>
                    </div>
                    <div class="retake-item flex">
                        <div class="checkbox">
                            <input type="checkbox" name="toPrint" value="8" id="8" />
                            <label for="8"></label>
                        </div>
                        <div class="new-mark">
                            <button class="closed btn new">Close</button>
                        </div>
                        <div class="student flex">
                            <div class="group">
                                <p>205</p>
                            </div>
                            <div class="name">
                                <p>Студент8</p>
                            </div>
                        </div>
                        <div class="add-to-print">
                            <button class="btn btn-success" data-modal="new-mark"><i class="fas fa-pen-alt"></i></button>
                        </div>
                    </div>
                    <div class="retake-item flex">
                        <div class="checkbox">
                            <input type="checkbox" name="toPrint" value="9" id="9" />
                            <label for="9"></label>
                        </div>
                        <div class="new-mark">
                            <button class="closed btn new">Close</button>
                        </div>
                        <div class="student flex">
                            <div class="group">
                                <p>205</p>
                            </div>
                            <div class="name">
                                <p>Студент9</p>
                            </div>
                        </div>
                        <div class="add-to-print">
                            <button class="btn btn-success" data-modal="new-mark"><i class="fas fa-pen-alt"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-container new-mark">
        <div class="overlay"></div>
        <div class="modal-content">
            <div class="close">
                <button class="close-btn"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-head">
                <p>Нова оцінка</p>
            </div>
            <div class="modal-form">
                <form action="#">
                    <div class="input-group">
                        <input type="text" name="mark" placeholder="Нова оцінка" />
                        <button class="confirm btn btn-success">OK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/js/libs.min.js"></script>
    <script src="~/js/common.js"></script>
</body>
</html>